@using Microsoft.AspNetCore.Identity
@using Watchlist.Areas.Identity.Data

@inject SignInManager<WatchlistUser> SignInManager
@inject UserManager<WatchlistUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="offcanvas-body">
        <div>

            <p>Hello @UserManager.GetUserName(User)</p>

        </div>


        <div class="account_navigation">
            <div class="button">
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                    asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="nav-link btn btn-link border-0">
                        <img src="~/img/logout.svg" alt="logout" />
                    </button>
                </form>
            </div>
            <div class="button">
                <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    <img src="~/img/setting.svg" alt="setting" />
                </a>
            </div>
        </div>

    </div>
}
else
{

    <div class="offcanvas-body">

        <div></div>

        <div class="account_navigation">
            <a class="nav-link" class="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
            <a class="nav-link" class="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </div>

    </div>
}

