:root {
  /* Colors */
  --primary: #f7f7f7;
  --second: #282829;
  --selected: #d72f37;
  /* Other */
  --radius: 20px;
}

* {
  font-family: 'Montserrat', sans-serif;
}

html {
  background-color: var(--primary);
  font-size: 1rem;


}

body {
  min-height: 100vh;
}

main {
  min-height: 100%;
}

.main {
  min-height: 100vh;
}

/* Header */

header {
  z-index: 999;
}

header button {
  background-color: inherit;
  border-width: 1px;
  padding: 5px;
  border-radius: 0 10px 10px 0;
  border-style: solid;
  border-color: var(--primary);

}

header input {
  background-color: inherit;
  border-width: 1px;
  padding: 5px;
  border-radius: 10px 0 0 10px;
  border-style: solid;
  border-color: var(--primary);
  margin-right: 5px;
  color: var(--primary);

}

nav {
  background-color: var(--second);
}

/* offcanvas */

.offcanvas {
  border-radius: var(--radius) 0 0 var(--radius);
}

.offcanvas-body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.offcanvas-header {
  /* background-color: var(--second); */
  border-radius: var(--radius) 0 0 0;
}

.offcanvas-body .account_navigation {
  display: flex;
  justify-content: space-around;
}

.offcanvas-body .account_navigation .button {
  background-color: var(--selected);
  border-radius: var(--radius);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.offcanvas-body .account_navigation>a {
  background-color: var(--selected);
  border-radius: var(--radius);
  padding: 10px;
  color: var(--primary);
  width: 95%;
  margin: 2.5%;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 0 5px var(--second);
}

.offcanvas-body .account_navigation>a:hover {
  background-color: var(--primary);
  color: var(--selected);

}

.offcanvas svg * {
  stroke: var(--second) !important;
}

/* menage_setting */

#menage_setting {
  padding: 5%;
}

#menage_setting .nav-link {
  color: var(--second) !important
}

#menage_setting .nav-link.active {
  background-color: var(--selected) !important;
  color: var(--primary) !important;
}



#menage_setting button,
#menage_setting .btn {
  background-color: var(--selected);
  border-radius: 5px;
  align-items: center;
  outline: 0;
  border: 0;
  box-shadow: 0 0 5px var(--second);
}

#menage_setting button:hover,
#menage_setting .btn:hover {
  background-color: var(--primary);
  color: var(--selected)
}

#menage_setting .btn-danger {
  background-color: red;
}

/* footer */

footer {
  background-color: var(--second);
  padding: 10px;
}

footer p,
footer a {
  color: var(--primary);
  margin: 0;
}

/* Demo */

#demo {
  padding: 5%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#demo .image {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 50vh;
}

#demo img {
  height: auto;
  max-width: 25vw;
  object-fit: cover;
  border-radius: var(--radius);
  box-shadow: 0 0 10px var(--second);
}

.carousel-inner {
  height: 50vh;
  overflow: visible;
  /* height: 100vh; */
}

.carousel-inner .details {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: var(--primary)
}

.carousel-item {
  background-color: var(--second);
  border-radius: var(--radius);

}

.carousel-indicators button {
  background-color: var(--second) !important;
}

.carousel-item button {
  border: 3px solid var(--selected);
  border-radius: 10px;
  color: var(--primary);
  background-color: var(--selected);
  padding: 10px;
  text-decoration: none;
  text-align: center;
}

#last_watch {
  margin: 5%;
}

#last_watch h2 {
  margin-bottom: 75px;
  font-weight: bold;
}

/* Login Screen */

#login {
  height: 100vh;
  width: 100%;
}

#login>.row {
  height: 100%;
  height: 100%;
}

#login .photo {
  background-image: url("../img/login-screen.jpg");
  background-size: cover;
  background-position: center;

}

#login .form {
  height: 100%;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login .form>form {
  width: 100%;
}

#login .form .form-floating {
  margin-bottom: 20px;
}


#login .form button {
  background-color: var(--selected);
  border-radius: var(--radius);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  outline: 0;
  border: 0;
  box-shadow: 0 0 5px var(--second);
}

#login .form button:hover {
  background-color: var(--primary);
  color: var(--selected)
}

#login .form a {
  color: var(--second);
}

#login .form p {
  margin-top: 10px;
  margin-bottom: 10px;
  opacity: 0.5;
}

#login .form p:hover {
  opacity: 1;
}

/* Card */

#card {
  padding: 2.5%;
}

#card>div {
  padding: 2.5%;
}

.card {
  display: flex;
  justify-content: flex-end;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  border-radius: var(--radius) var(--radius) 0 0;
  box-shadow: 0 0 5px var(--second);
}

.card .data {
  opacity: 0.5;
  transition: 0.5s;
  padding: 20px;
  color: white;
  background-color: var(--second);
}

.card:hover .data {
  opacity: 1;
  transition: 0.5s;
}

.card .data .buttons {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
}

.card .data a,
.card .data button {
  border-radius: 10px;
  color: var(--primary);
  background-color: var(--selected);
  padding: 10px;
  text-decoration: none;
  text-align: center;
}

.card .data .delete {
  width: 50px
}

.card .data a,
.card .data button {
  border-radius: 10px;
  color: var(--primary);
  background-color: var(--selected);
  padding: 10px;
  text-decoration: none;
  text-align: center;
}

.card .data a {
  width: 60%;
}

.card .data a:hover {
  color: var(--selected);
  background-color: var(--primary);
}

.card .data form {
  width: 30%;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}


.card .title {
  font-size: 20pt;
  font-weight: bold;
}

.title h1 {
  margin-top: 50px;
  font-size: 25pt;
  color: var(--second);
  width: 100%;
  text-align: center;
}

/* details */

#details {}

#details h1,
#details h2 {
  color: var(--second);
  font-weight: bold;
}

#details .ratings {
  display: flex;
  margin-top: 25px;
  margin-bottom: 25px;
  align-items: center;
  font-weight: bold;
  color: white;
}

#details .ratings .imdb_rating {
  width: 100px;
  height: 40px;
  margin: 10px;
  background-color: #f5c518;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  text-align: center;
}

#details .ratings .metacritics_rating {
  width: 40px;
  height: 40px;
  margin: 10px;

  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  text-align: center;
}

#details>*>*>.image {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#details .image img {
  /* width: 100%; */
  max-width: 100%;
  max-height: 100vh;
  object-fit: cover;
  border-radius: var(--radius);
  box-shadow: 0 0 10px var(--second);
}

#details .scroller {
  width: 100%;
  overflow-y: auto;
  margin-bottom: 50px;
  margin-top: 50px;
}

#details .scroller>div {
  width: auto;
  display: flex;
  flex-shrink: unset;
  flex-wrap: nowrap;
}

#details .scroller>div .card {
  min-width: 300px;
  max-width: 300px;
  width: 300px;
  margin-right: 50px;
}

/* episodes */

.episodes>ul {
  display: flex;
  padding: 0;
  justify-content: center;
}

.episodes>ul li {
  list-style-type: none;
  width: 50px;
  height: 50px;
  background-color: var(--second);
  color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--second);
  cursor: pointer;
}

.episodes>ul li a {
  text-decoration: none;
  color: var(--primary);
}

.episodes>ul li.active {
  background-color: var(--selected);
}

.episodes>ul li:hover {
  background-color: var(--primary);
  color: var(--second);
}

.episodes>ul li:hover a {
  color: var(--second);
}

.episodes>ul li:first-child {
  border-radius: 10px 0 0 10px;
}

.episodes>ul li:last-child {
  border-radius: 0 10px 10px 0;
}

.episodes_list .episodes {
  display: flex;
  height: 150px;
  margin: 25px 0 25px 0;
  display: flex;
  align-items: center;
}

.episodes_list .episodes .image {
  min-width: 300px;
  min-height: 100px;

}

.episodes_list .episodes .image img {
  width: 250px;
  height: 150px;
  object-fit: cover;
}

.episodes>.details {
  color: var(--second);
  width: 100%;
}

.episodes>.details>.title {
  font-size: 15pt;
  font-weight: bold;
  text-align: justify;
}

.episodes>.details>.production_year {
  font-size: 8pt;
}

.episodes>.details>.plot {
  font-size: 12pt;
  line-height: 100%;
}

.episodes>.details>.rating {
  font-size: 8pt;
}

.episodes .whatch {
  padding: 20px;
}

.episodes button {
  border-radius: 10px;
  color: var(--primary);
  padding: 10px;
  text-decoration: none;
  text-align: center;
  border: 1px solid var(--second);
  background-color: var(--second);
}

.episodes button.watched {
  background-color: var(--selected);
  border-color: var(--selected);
}