:root {
  /* Colors */
  --primary: #f7f7f7;
  --second: #282829;
  --selected: #d81f26;
  /* Other */
  --radius: 20px;
}

html {
  background-color: var(--primary);
  font-size: 1rem;
}

body {
  min-height: 100vh;
}

main {
  min-height: 100%;
}

header {
  z-index: 999;
}

nav {
  background-color: var(--second);
}

/* offcanvas */

.offcanvas {
  border-radius: 20px;
  margin: 20px;
}

/* footer */

footer {
  background-color: var(--second);
  padding: 10px;
}

footer p,
footer a {
  color: var(--primary);
  margin: 0;
}

/* Demo */

#demo {
  margin: 5%;
}

.carousel-inner {
  border-radius: var(--radius);
  box-shadow: 0 0 10px var(--second);
}